*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.contact_section {
    border-radius: 5px;
    background-color: #c5c5c5;
    padding: 1.3em;
    width: 50%;
    margin: 0 auto; /*Centrerer elementet på siden*/
    display: flex;
    align-items: center;
    flex-direction: column;
  }

input[type=text],input[type=email],input[type=tel],select,textarea{
    width: 100%;
    padding: 1em;
    border: 1px solid #c5c5c5;
    border-radius: 7px;
    margin-top: 0,5em;
    margin-bottom: 1em;
}

: ::placeholder{
    color: #333;
}

input[type=submit]{
    background-color: #DD7824;
    color: white;
    padding: 0,8em 1,5em;
    border: none;
    border-radius: 7px;
    width: 100%;
    font-size: 20px;
    margin-top: 1em;
    cursor: pointer;

}

.visually-hidden{ /*WCAG defineret class som fjerner element fra skærm, men som stadig kan læses af skærmlæseren*/
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}